<mat-card class="about">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>About Us</mat-card-title>
      <mat-card-subtitle>Store Info</mat-card-subtitle>
      <img alt=".." mat-card-xl-image src="../../assets/Images/3.avif">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
      "Spectacles" redirects here. For other uses, see Spectacle (disambiguation).
      For the object used to drink liquids, see Drinking glasses. For the short story, see Glasses (short story).
      Glasses A modern pair of glasses other names Eyeglasses, spectacles. Specialty Ophthalmology, optometry
      Glasses, also known as eyeglasses or spectacles, are vision eyewear with lenses (clear or tinted) mounted in a
      frame that holds them in front of a person's eyes, typically utilizing a bridge over the nose and hinged arms
      (known as temples or temple pieces) that rest over the ears.

      Glasses are typically used for vision correction, such as with reading glasses and glasses used for
      nearsightedness; however, without the specialized lenses, they are sometimes used for cosmetic purposes.

      Safety glasses provide eye protection against flying debris for construction workers or lab technicians; these
      glasses may have protection on the sides of the eyes as well as in the lenses. Some types of safety glasses are
      used to protect against visible and near-visible light or radiation. Glasses are worn for eye protection in some
      sports, such as squash.

      Glasses wearers may use a strap to prevent the glasses from falling off. Wearers of glasses that are used only
      part of the time may have the glasses attached to a cord that goes around their neck to prevent the loss and
      breaking of the glasses. The loss of glasses would be detrimental to those working in these conditions.
  </mat-card-content>
</mat-card>